{% for collection in collections %}
<tr>
  <td class="whitespace-nowrap py-4 pl-4
                        pr-3 text-sm font-medium 
                        text-gray-900 sm:pl-0">{{collection.name}}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{collection.description}}</td>
  <td class="whitespace-nowrap py-4 pl-4
              pr-3 text-sm font-medium 
              text-gray-900 sm:pl-0">
          {% if collection.artworks.all %}
              <div class="p-5 h-[250px] w-[250px] overflow-hidden">
                <div class="grid grid-cols-3 gap-4">
                    {% for artwork in collection.artworks.all %}
                        <img src="{{ artwork.image_url }}" alt="{{ artwork.title }}" class="w-full h-auto">
                    {% endfor %}
                </div>
            </div>
          {% else %}
              <p>No hay artworks en esta collection.</p>
          {% endif %}
  </td>
  <td class="relative py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
    <button type="button" class="block rounded-md bg-green-600 px-3
                    py-2 text-center text-sm font-semibold text-black 
                    shadow-sm hover:bg-green-500 focus-visible:outline 
                    focus-visible:outline-2 focus-visible:outline-offset-2 
                    focus-visible:outline-green-600 my-5" hx-get="{% url 'collection_modify' collection.id %}"
      hx-target="body" hx-swap="beforeend">Editar</button>
    <button type="button" class="block rounded-md bg-red-600 px-3
                    py-2 text-center text-sm font-semibold text-black 
                    shadow-sm hover:bg-red-500 focus-visible:outline 
                    focus-visible:outline-2 focus-visible:outline-offset-2 
                    focus-visible:outline-red-600 my-5" hx-post="{% url 'collection_delete' collection.id%}"
      hx-target="body" hx-swap="beforeend">Eliminar</button>
  </td>
</tr>

  {% endfor %}