{% load static %}

<nav class="bg-white p-1">
   <div class="flex w-full justify-between items-center">
      <a class="justify-start items-start" href="/">
         <span class="sr-only">Artworks</span>
         <img class="h-[80px] w-[110px] block" src="{% static 'img/logo.jpeg' %}" alt="artworks">
      </a>

      <!-- Menú de navegación para pantallas grandes -->
      <div class="hidden sm:flex space-x-4">
         <a href="/" class="text-primary font-bold hover:text-gray-500">Inicio</a>
         <a href="/collections" class="text-primary font-bold hover:text-gray-500">Mis colecciones</a>
      </div>

      <!-- Barra de búsqueda -->
      <!-- <div class="md:w-1/4">
         <form action="">
            <input type="text" name="search" placeholder="Buscar pintura..." class="w-full px-3 py-2 rounded-full border-2 border-gray-400 bg-white text-gray-800 focus:border-secondary focus:ring-secondary">
         </form>
      </div> -->
      <!--
      <div class="flex flex-1 items-center justify-center px-2 lg:ml-6 lg:justify-end">
         <div class="w-full max-w-lg lg:max-w-xs">
         <form method="get" action="/artworks/search/" class="mb-3">
           <label for="search" class="sr-only">Buscar</label>
           <div class="relative">
             <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
               <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                 <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
               </svg>
             </div>
             <input id="search" name="search" class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900
                             ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2
                             focus:ring-inset focus:ring-indigo-600 
                             sm:text-sm sm:leading-6" placeholder="Buscar" type="search" 
                         {% if search_value != None %} 
                             value="{{ search_value|stringformat:'s' }}"
                         {% endif %} >
 
           </div>
        </form>
         </div>
      </div>
      -->
      <!--MEZCLA DE AMBAS BARRAS DE BUSQUEDA FUNCIONAL-->
      <div class="md:w-1/4">
         <form method="get" action="/artworks/search/" class="mb-3">
            <input id="search" name="search" class="w-full px-3 py-2 rounded-full border-2 border-gray-400 bg-white text-gray-800 focus:border-secondary focus:ring-secondary"
                         placeholder="Busqueda" type="search" 
                         {% if search_value != None %} 
                             value="{{ search_value|stringformat:'s' }}"
                         {% endif %} >
         </form>
      </div>


      {% if user.is_authenticated %}
      <div class="flex space-x-4" id="sesion_info">
         <div class="flex flex-wrap justify-center items-center">
            <span class="material-symbols-outlined ">
               person
            </span>
            <p class="text-primary text-center font-semibold">Hola {{user.username}}</p>
         </div>
         <a href="/accounts/logout" class="hover:text-gray-500">
            <div class="items-center justify-center flex flex-wrap border rounded-full border-secondary p-2">
               <span class="material-symbols-outlined">
                  logout
               </span>
               <p class="text-primary text-center hover:text-gray-500 font-semibold">Cerrar sesión</p>
            </div>
         </a>
      </div>
      {% else %}
      <a href="/accounts/login" class="hover:text-gray-500">
         <div class="items-center justify-center flex flex-wrap border rounded-full border-secondary p-2">
            <span class="material-symbols-outlined">
               login
               </span>
            <p class="text-primary text-center hover:text-gray-500 font-semibold">Iniciar sesión</p>
         </div>
      </a>
      {%endif%}
      <!-- Menú desplegable para dispositivos móviles (visible en dispositivos móviles)
      <div id="mobile-menu" class="hidden flex-row p-4">
          <a href="#" class="block p-2 text-primary font-bold hover:text-gray-500">Inicio</a>
          <a href="#" class="block p-2 text-primary font-bold hover:text-gray-500">Mis colecciones</a>
      </div>
      
      <div class="md:hidden">
         <button id="mobile-menu-button" class="text-primary">
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
             </svg>
         </button>
     </div>
      -->


     <script>
      document.addEventListener('DOMContentLoaded', function() {
          const mobileMenuButton = document.getElementById('mobile-menu-button');
          const mobileMenu = document.getElementById('mobile-menu');
          const sesionInfo = document.getElementById('sesion_info')
  
          if (mobileMenuButton && mobileMenu) {
              mobileMenuButton.addEventListener('click', function() {
                  mobileMenu.classList.toggle('hidden');
                  sesionInfo.classList.toggle('hidden');
              });
          }
      });
  </script>
  
   </div>
</nav>