{% extends "collection/base.html" %}

{% block content %}
<div class="flex flex-row w-full justify-between">
  <div class="w-[150px] sm:w-[200px] h-fit border-slate-500 text-slate-700 p-2" role="alert">

    <p class="font-bold text-primary text-lg sm:text-xl"> Géneros: </p>
    <ul>
      {% for genre in artwork_genre%}
      <li class="list-disc">
        <a class="hover:text-primary hover:font-bold" href="?artwork_genre={{genre.name}}">
          {{ genre.name }}
          ({{ genre.count }})
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="p-5 md:p-10">
    <div class="columns-1 gap-5 lg:gap-8 sm:columns-2 lg:columns-3 xl:columns-4">
      {% for paint in artwork %}
<a href="{{paint.path}}">
      <div class="group relative items-center justify-center overflow-hidden cursor-pointer">
        <img class="mx-auto mt-5 group-hover:scale-125 transition-transform" src="{{paint.image_url}}"
          alt="{{paint.title}}">
        <div class="absolute inset-0 bg-gradient-to-b from-transparent group-hover:from-black/60 group-hover:via-black/50 group-hover:to-black/60"></div>
        <div class="absolute inset-0 flex flex-col items-center justify-center px-9 text-center translate-y-[80%] group-hover:translate-y-0 transition-all duration-300">
          <h1 class="font-bold text-white text-xl">{{paint.title}}</h1>
          <p class="text-lg text-white italic">{{paint.author.name}}</p>
            <button>
              <span class="material-symbols-rounded">
                favorite
                </span>
            </button>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}